* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.player {
  width: 100%;
  height: 100vh;
}
.fixed-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  
}
.player video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 12px;
  margin: 2px;
}
.fixed-name {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: white;
  width: 50%;
}

audio{
  display: none;
}
.hom {
  margin: 2px;
  color: white;
 
  height: 110vh;
  background-image: url("./assets/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 4px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hom .form-data {
  margin-top: 50px;
  text-shadow: 2px 2px 2px black;
  filter: brightness(100%);
  background-color: rgba(176, 176, 176, 0.705);
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 12px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-data .enter-name {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-data .submit-btn {
  background-color: rgba(173, 173, 173, 0.523);
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 6px;
  box-shadow: inset black;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submit-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color:green;
  border: solid 1px green;
}

button {
  background-color: rgba(240, 240, 240, 0.523);
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 6px;
  box-shadow: inset black;
  font-size: 15px;
  margin-bottom: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
  font-size: 15px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.687);
  border: none;
  border-radius: 6px;
  padding: 4px;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 4px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  margin: 2px;
  padding: 7px;
  border-radius: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 1px 1px 2px green;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav {
  margin-left: 5px;
}
.link .ll {
  color: white;
  margin: 2px;
  text-decoration: none;
 
  border-radius: 4px;
  padding: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.link .ll:hover{
  color:green;
}
/*Thala CSS */
.thalaset {
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 12px;
 
  margin: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  color: white;
}
.thalaset form {
  background-color: rgb(252, 252, 251);
  padding: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thalaset button:hover{
  border: 1px solid green;
  border-radius: 12px;
  color: green;
  font-weight: bolder;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thalaset p{
  color: black;
  font-family: fantasy;
  font-size: 30px;
}
.thalaset p:hover{
  color: green;
}
.thalaset .enter{
  font-family: 'Courier New', Courier, monospace;
}
.thalaset .log:hover{
  font-weight: bolder;
  cursor: pointer;
  color: green;
}
.thalaset a:hover{
  font-weight: bolder;
  cursor: pointer;font-size: 20px;
  color: green;
}


/* About Page CSS        */
.about-me{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 25px;
  margin: 5px;
 
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.about-name{
 text-align: center;
  background-color: rgba(137, 43, 226, 0);
  margin:12px;
  border-radius: 12px;
  padding: 5px;
  color: black;
  font-weight: bolder;
  text-shadow: 2px 2px 3px rgb(62, 64, 62);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-right{
  display: flex;
  flex-wrap: wrap;
 
}
.left{
  width: 25%;
  color: black;
  background-color: rgba(0, 255, 255, 0);
  margin: 8px;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.right{
  width: 70%;
  background-color: rgba(255, 235, 205, 0.196);
  margin: 8px;
  border-radius: 12px;
  padding: 7px;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right p{
  text-align: center;
}

.left .img1{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.991), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img1:hover{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.991), 0px 6px 20px 20px rgba(0, 0, 0, 0.19);
  filter: brightness(50%);
}
.right .img2{
  width:230px;
  height: 180px;
  
  justify-content: baseline;
  align-self: start;
  transition: .2s;
 
}
.img2:hover{
  width: 240px;
  height: 190px;
}
